* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.App {
  color: var(--color-text);
}
.pages {
  background: var(--color-background);
  position: fixed;
  right: 0;
  width: calc(100% - 220px);
  height: 100vh;
  overflow: auto;
}
.page-container {
  background: var(--color-container);
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 80vh;
  border-radius: 7px;
  padding: 20px;
  z-index: 2;
  box-shadow: 0px 0px 7px 0px var(--color-box-shadow);
}
.table-container {
  overflow: auto;
  height: 80vh;
}
.input {
  margin: 30px 20px 0 20px;
  /* margin-top: 30px; */
  width: 300px;
}
.input label {
  color: var(--color-label);
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  white-space: nowrap;
}
.input input,
.input select {
  outline: none;
  width: 100%;
  font-size: 1rem;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #4b4b4b;
}
.input select {
  width: 200px;
}
.input input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.2);
  /* padding: 10px; */
}
/*  */
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row h1 {
  font-size: 1.5rem;
  margin-left: 20px;
  color: var(--color-text);
}
.login {
  background: var(--color-background);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login form {
  background: var(--color-container);
  box-shadow: 0px 0px 7px 0px var(--color-box-shadow);
  border-radius: 15px;
  padding: 30px;
  padding-bottom: 50px;
}
.login form h1 {
  font-size: 1.7rem;
}
/*  */
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.buttons div {
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons button {
  cursor: pointer;
  width: 135px;
  padding: 8px 0;
  border: 1px solid #4b4b4b;
  border-radius: 5px;
}
/*  */
.button {
  padding: 12px 18px;
  background: #fc6c19;
  border-radius: 7px;
  font-size: 0.9rem;
  color: white;
  transition: 0.3s ease;
  font-weight: bold;
  box-shadow: 0px 0px 7px 0px var(--color-box-shadow);
  border: none;
  cursor: pointer;
}
.button:hover {
  transform: translateY(-5px);
}
/*  */
.link {
  padding: 10px 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  transition: 0.5s ease;
}
.link svg {
  font-size: 1.2rem;
  margin-right: 10px;
}
.link:hover {
  cursor: pointer;
  background: #fc6c19;
  color: white;
  border-left: 5px solid black;
}
.link.active {
  background: #fc6c19;
  color: white;
  border-left: 5px solid black;
}
.ancer {
  padding: 10px 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-text);
  transition: 0.5s ease;
}
.ancer svg {
  font-size: 1.2rem;
  margin-right: 10px;
}
.ancer:hover {
  cursor: pointer;
  background: #fc6c19;
  color: white;
  border-left: 5px solid black;
}
/*  */
.navbar {
  background: var(--color-container);
  position: fixed;
  left: 0;
  width: 220px;
  height: 100vh;
  /* color: #1d1d1d; */
  color: var(--color-text);
  z-index: 2;
  box-shadow: 0px 0px 7px 0px var(--color-box-shadow);
}
.navbar .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 30px 0;
}
.navbar h3 {
  font-size: 1rem;
  font-weight: bolder;
  margin: 25px 0 10px 15px;
}
/*  */
.table {
  border-collapse: collapse;
  padding: 0px;
  margin-top: 40px;
  overflow: auto;
}
.table td,
.table th {
  padding: 8px 10px;
  text-align: left;
}
.table thead th {
  position: sticky;
  top: 0;
  background: var(--color-container);
  border-bottom: 2px solid var(--color-text);
  z-index: 3;
}
.table thead tr {
  white-space: nowrap;
}
.table tbody tr {
  transition: 0.4s ease;
}
.table tbody tr td {
  white-space: nowrap;
  border: 1px solid gray;
}
.table tbody tr td.updated {
  background-color: rgba(62, 189, 240, 0.5);
}
.table tbody tr:hover {
  background: var(--color-tr-hover);
}
.table a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: black;
}
.actions {
  width: 130px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.6;
  transition: 0.3s ease;
}
.icon-holder {
  position: relative;
  width: 27px;
  height: 27px;
  background-color: rgb(77, 77, 77);
  border-radius: 50%;
  cursor: pointer;
}
.icon-holder .icon {
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon-holder:active {
  background-color: gray;
}

.edit {
  color: rgb(247, 177, 64);
}
.dollar {
  color: rgb(240, 212, 0);
}
.clock {
  color: rgb(83, 206, 255);
}
.profile {
  color: rgb(33, 221, 13);
}
.cross {
  color: rgb(255, 91, 91);
}

.msg a {
  color: green;
  font-style: italic;
  font-weight: bold;
}
.table tbody tr:hover .actions {
  opacity: 1;
}
/* forms */
.form {
  background: var(--color-container);
  box-shadow: 0px 0px 10px 0px var(--color-box-shadow);
  border: 1px solid rgb(179, 179, 179);
  min-width: 800px;
  max-width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 20px;
  border-radius: 10px;
}
.form .table-container {
  height: auto;
  min-height: 40vh;
}
.gross-form {
  width: 1100px;
}
/*  */
.message-bar {
  margin-top: 20px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}
.message-bar .message {
  color: white;
  box-shadow: 0px 0px 7px 0px var(--color-box-shadow);
  font-weight: bold;
  padding: 18px;
  border-radius: 12px;
  margin-top: 10px;
  margin-right: 70px;
  background: green;
}
.message-bar .message svg {
  margin-left: 15px;
}
.message-bar .message svg:hover {
  color: rgb(51, 154, 222);
  cursor: pointer;
}
.message-bar .danger {
  background-color: rgb(228, 64, 64);
}
.message-bar .warning {
  background-color: rgb(227, 196, 69);
}
.message-bar .success {
  background-color: rgb(74, 178, 72);
}

/*  */

.permission-table .row {
  margin: 5px;
}
.permission-table ul {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.permission-table ul li {
  width: 120px;
  list-style-type: none;
}
.permission-table .input {
  margin: 0;
}
.permission-table .input .row {
  width: 100px;
}

/*  */
.loading {
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadingButton {
  padding: 3px !important;
}
.loadingButton img {
  width: 20px;
}
/*  */
.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}
.pagination ul {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.pagination ul li {
  padding: 7px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.pagination ul li:hover {
  cursor: pointer;
  background-color: var(--color-background);
}
/*  */
.info-container {
  margin: 30px;
  width: 25%;
}
.info-container span {
  margin: 7px 0px;
  display: block;
  width: 100%;
}
