:root {
  --color-container: white;
  --color-background: #f4f5f7;
  --color-box-shadow: #b9b9b9b2;
  --color-text: #232323;
  --color-label: #4b4b4b;
  --color-mode-changer-background: #3e516d;
  --color-mode-changer-color: #fff;
  --color-tr-hover: #ebebeb;
}

.dark {
  --color-container: #293649;
  --color-background: #202a38;
  --color-box-shadow: #202a38d8;
  --color-text: #e7e7e7;
  --color-label: #dbdbdb;
  --color-mode-changer-background: rgb(233, 233, 233);
  --color-mode-changer-color: rgb(47, 47, 47);
  --color-tr-hover: #35455c;
}

/* scroller */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc8139;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(175, 116, 33);
}

/*  */
.errmsg {
  color: rgb(255, 69, 69);
  margin-top: 20px;
}
.err-input {
  color: rgb(255, 69, 69);
  margin-top: 5px;
  font-size: 12px;
}
.red-border {
  border: 1px solid rgb(255, 69, 69) !important;
}
.offscreen {
  display: none;
}
/*  */
.good {
  color: rgb(35, 138, 35);
  font-weight: bold;
}
.bad {
  color: rgb(255, 69, 69);
  font-weight: bold;
}
/*  */
.covered {
  background: rgba(54, 149, 54, 0.5);
}
.sold {
  background: rgba(60, 87, 184, 0.5);
}
.removed {
  background: rgba(222, 135, 54, 0.5);
}
.tonu {
  background: rgba(196, 61, 61, 0.5);
}
.rejected {
  background: rgba(209, 28, 28, 0.5);
}
